.container {
  background-color: #FAFAFA;
  width: 160px;
  height: 216px;
  margin: 8px;
  border-radius: 2px;
}

.item-info {
  padding: 16px;
  text-align: center;
}

.item-title {
  font-size: 1.2em;
}

.item-category {
  color: #757575;
}

.item-rating {
  padding-top: 16px;
  padding-bottom: 32px;
}
